# Project exclude paths
.gradle/
/build/
.idea/
/build/classes/java/main/
./idea/
.project
.settings/
.classpath


#compiled files, bnaries, archives
*.class


#gradle files to keep
!gradle-wrapper.jar
!gradle-wrapper.properties
